<h3>Produit</h3>
<div class="container-fluid">
  <div class="row " style="display: flex;">
        <div class="col-lg-6" style="width: 50%;">
                <table class="table">
                  <thead>
                      <tr>
                        <th scope="col">Reference</th>
                        <th scope="col" >Quanite</th>
                        <th scope="col" >Prix Unitaire</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr *ngFor="let produit of produits">
                        <td>{{produit.ref}}</td>
                        <td>{{produit.quantite}}</td>
                        <td>{{produit.prixUnitaire}}</td>
                      </tr>


                  </tbody>
                </table>
    </div>

      <div class="col-lg-4" style="width: 30%;" >
          <div class="card">
                  <div class="card-header">
                    <h6>Ajout Produit</h6>

                  </div>
                  <div class="card-body">
                    <form [formGroup]="produitForm">
                      <div class="form-group">
                              <label>Réference:</label>
                              <input  class="formControlName" placeholder="ref" type="text" formControlName="ref">
                      </div>
                       <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid && produitForm.controls['ref'].touched">
                           <small>Réference est Obligatoire</small>
                       </div>



                      <div class="form-group">
                        <label>Quanite:</label>
                        <input  class="formControlName" placeholder="ref" type="text" formControlName="quantite">
                      </div>
                      <div class="alert alert-danger"  *ngIf="produitForm.controls['quantite'].invalid && produitForm.controls['quantite'].touched">
                        <small> Quanite est Obligatoire</small>
                      </div>




                      <div class="form-group">
                        <label>Prix Unitaire:</label>
                        <input  class="formControlName" placeholder="ref" type="text" formControlName="prixUnitaire">
                      </div>
                      <div class="alert alert-danger" *ngIf="produitForm.controls['prixUnitaire'].invalid && produitForm.controls['prixUnitaire'].touched" >
                        <small> Quanite est Obligatoire</small>
                      </div>



                       <button (click)="addProduit()" [disabled]=" produitForm.invalid" class="btn btn-primary">Ajouter</button>
                       <button  type="reset" class="btn btn-danger">Annuler</button>
                    </form>
                  </div>

                  <div class="card-footer">

                  </div>

          </div>
      </div>
    </div>
  </div>

